@font-face {
    font-family: Mayan;
    src: url(../assets/fonts/Mayan.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 1455px;
    height: 1126px;
    font-size: 32px;
}

.left-side{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-right: 1px black dashed;
}

.right-side{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border-left: 1px black dashed;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.calendar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: auto;
}

.title{
    position: absolute;
    top: 15%;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    font-size: 3em;
    font-family: Mayan;
    color: white;
    text-shadow: 0 0 0 black, 0 0 0.2em greenyellow;
}

.year{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    font-family: Mayan;
    color: white;
}

.dark{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-color: black;
    border-radius: 1em;
    opacity: 0.6;
}

.nawales{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
}

.top {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    color: white;
    font-family: Mayan;
    font-size: 1.2em;
    text-shadow: 0 0 0.2em greenyellow, 1px 1px 0 black;
}

.down {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    color: white;
    font-family: Mayan;
    font-size: 1.2em;
    text-shadow: 0 0 0.2em greenyellow, 1px 1px 0 black;
}

.corner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
